body{
	font-size:14px;
	line-height: 1.8em;
}
#map {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	position: fixed !important;
}

h4.background {
   
   width: 100%; 
   text-align: left; 
   border-bottom: 2px solid #28a6ec; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
   padding-top: 15px;
} 
h4.small{
	width: 80% !important;
}

h4 span { 
	background:#fff; 
	padding:0 10px; 
	font-size: 16px;
}
.share{
	font-size: 20px;
}
input.sameline{
	
}
.input-group{
	margin-top: 10px;
}
.toggle{
	float:right;
}
.toggle.ios, .toggle-on.ios, .toggle-off.ios { 
	border-radius: 9px; 
}
.toggle.ios .toggle-handle { 
	border-radius: 9px;
}
.round{
	border-radius: 25px;
}
