body{
	font-size:12px;
	line-height: 2em;
}
#map {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	position: fixed !important;
}

h4.background {
   
   width: 100%; 
   text-align: left; 
   border-bottom: 2px solid #28a6ec; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
   padding-top: 15px;
} 
h4.small{
	width: 70% !important;
}

h4 span { 
	background:#fff; 
	padding:0 10px; 
	font-size: 14px;
}
.share{
	font-size: 20px;
}
input.sameline{
	
}
.input-group{
	margin-top: 10px;
}
.toggle{
	float:right;
}
.round{
	border-radius: 25px;
}
a.tw{
	background-color: #FFF ;
	color: #4490FF;
}
a.fb{
	background-color: #FFF ;
	color: #3b5998;
}
a.ln{
	background-color: #FFF ;
	color: #0077B5;
}
a.wb{
	background-color: #00A0DC ;
	color: #FFF;
	padding-right: 2px;
	padding-left: 2px;
}
a.go{
	background-color: #FFF ;
	color: #d9534f;
}
input[type="text"]{
	font-size:12px;
}



